<!DOCTYPE html>
<html lang="en" data-theme="pastel" class="bg-gray-200">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Page Not Found - Lego Collection</title> <!-- Updated title -->
</head>
<body>
    <div class="border-b border-l border-r m-0 border-gray-300 rounded-lg shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
      <div class="navbar bg-base-100 rounded-lg">
        <div class="flex-1 gap-5">
          <a href="/" class="btn btn-ghost text-xl">Lego Collection</a> <!-- Updated home link -->
        </div>
        <div class="flex-none">
          <div class="dropdown">
            <details closed>
              <summary class="list-none">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                </div>
              </summary>
              <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 right-0">
                <li><a href="/about">About</a></li>
                <li>
                  <details closed>
                    <summary>Theme</summary>
                    <ul>
                      <li><a href="/lego/sets?theme=classic castle">Classic Castle</a></li>
                      <li><a href="/lego/sets?theme=playhouse">Playhouse</a></li>
                      <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto flex items-center justify-center flex-col relative">
      <!-- Hero section -->
      <div class="hero">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-4xl font-bold mb-4">404 - Page Not Found</h1>
            <p class="text-lg">Oops! Looks like you've stumbled upon a page that doesn't exist.</p> 
          </div>
        </div>
      </div>
    
      <img src="/image/404.jpg" alt="404 Error" class="w-25 h-50">
    </div>
</body>
</html>
